.calendar-page-container {
    display: flex;               
    flex-direction: column;       
    align-items: center;         
    justify-content: center;     
    height: 100vh;              
    padding: 20px;               
  }
  
  .calendar-header {
    margin-bottom: 20px;        
  }
  
  .attendance-link-container {
    margin-top: 20px;           
  }
  
.react-calendar {
  color: black; 
}


.react-calendar__tile {
  color: black;
}


.react-calendar__navigation button {
  color: black;
}


.react-calendar__month-view__weekdays {
  color: gray;
}

.react-calendar .sunday {
  color: red;
}

.react-calendar .sunday:enabled:hover,
.react-calendar .sunday:enabled:focus,
.react-calendar .sunday.react-calendar__tile--active {
  color: red;
}